/**
 * Custom styles.
 */
/**
 * Setup variables, etc.
 */
/**
 * Custom Sass mixins.
 */
/* line 8, ../sass/pw_theme.scss */
html {
  font-size: 16px;
}

/* line 12, ../sass/pw_theme.scss */
body {
  font-size: 1em;
  line-height: 1.5em;
  color: #000;
  font-family: Verdana, Tahoma, Geneva, "DejaVu Sans", sans-serif;
}

/* line 19, ../sass/pw_theme.scss */
a {
  color: #00f;
  text-decoration: underline;
}
/* line 7, ../sass/_mixins.scss */
a:hover, a:active, a.active, a:focus {
  text-decoration: none;
}

/* line 28, ../sass/pw_theme.scss */
blockquote {
  margin: 1.5em 3em;
}
/* line 31, ../sass/pw_theme.scss */
blockquote:before {
  color: #cccccc;
  content: open-quote;
  float: left;
  font-size: 5em;
  margin: 0.25em 0 0 -0.6em;
}
/* line 39, ../sass/pw_theme.scss */
blockquote:after {
  color: #cccccc;
  content: close-quote;
  float: right;
  font-size: 5em;
  margin: -0.25em -0.6em 0 0;
}

/* line 48, ../sass/pw_theme.scss */
.breadcrumb {
  padding-bottom: 0;
}

/* line 52, ../sass/pw_theme.scss */
code,
kbd,
pre,
samp {
  font-family: "Courier New", Courier, "DejaVu Sans Mono", monospace, sans-serif;
}

/* line 59, ../sass/pw_theme.scss */
figure {
  margin: 1.5em 2em;
}

/* line 63, ../sass/pw_theme.scss */
h1 {
  font-size: 2em;
  line-height: 1.2em;
  margin: 0 0 0.75em;
}

/* line 68, ../sass/pw_theme.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.3em;
  margin: 0 0 1em;
}

/* line 73, ../sass/pw_theme.scss */
h3 {
  font-size: 1.125em;
  line-height: 1.3em;
  margin: 0 0 1.3em;
}

/* line 78, ../sass/pw_theme.scss */
h4 {
  font-size: 1em;
  line-height: 1.3em;
  margin: 0 0 1.5em;
}

/* line 83, ../sass/pw_theme.scss */
h5 {
  font-size: 0.875em;
  line-height: 1.3em;
  margin: 0 0 1.7em;
}

/* line 88, ../sass/pw_theme.scss */
h6 {
  font-size: 0.75em;
  line-height: 1.4em;
  margin: 0 0 2em;
}

/* line 93, ../sass/pw_theme.scss */
hr {
  background: #666;
  border: none;
  height: 0.1em;
  width: 98%;
}

/* line 100, ../sass/pw_theme.scss */
.marker {
  background: #daffda;
  border-radius: 0;
  color: #080;
  padding: 0 0.3em;
}

/* line 107, ../sass/pw_theme.scss */
.more-help-link,
.more-link {
  font-size: 0.9em;
  line-height: 1.5em;
}

/* line 112, ../sass/pw_theme.scss */
p {
  margin: 0 0 1em;
}

/* line 116, ../sass/pw_theme.scss */
pre {
  overflow: visible;
  white-space: normal;
}

/*** Comments ***/
/* line 123, ../sass/pw_theme.scss */
#comments .indented {
  margin-left: 2em;
}

/*** Forms ***/
/* line 130, ../sass/pw_theme.scss */
.dropbutton a {
  text-decoration: none;
}

/* line 135, ../sass/pw_theme.scss */
.filter-wrapper {
  margin: -3em 0 1.5em;
  padding: 0;
}
/* line 139, ../sass/pw_theme.scss */
.filter-wrapper legend {
  font-weight: bold;
  margin-top: 1.5em;
}
/* line 144, ../sass/pw_theme.scss */
.filter-wrapper .fieldset-wrapper {
  padding: 1em;
}

/* line 149, ../sass/pw_theme.scss */
.form-item,
.form-actions {
  margin: 1.5em 0;
}

/* line 155, ../sass/pw_theme.scss */
.form-item .description {
  margin-top: 0.2em;
}

/* line 162, ../sass/pw_theme.scss */
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 1.6em;
}

/* line 167, ../sass/pw_theme.scss */
input,
textarea,
select {
  background: #f7f7f7;
  border: 0.1em solid #949494;
  border-radius: none;
  box-shadow: 0 0 3px #d9d9d9 inset;
  color: #333333;
  line-height: 1.5em;
  padding: 0.2em 0.5em;
}
/* line 178, ../sass/pw_theme.scss */
input:focus,
textarea:focus,
select:focus {
  border-color: #0091f2;
}
/* line 182, ../sass/pw_theme.scss */
input[disabled],
textarea[disabled],
select[disabled] {
  background: #f0f0f0;
  color: #666;
  cursor: not-allowed !important;
}

/* line 7, ../sass/_mixins.scss */
input[type=submit]:hover, input[type=submit]:active, input[type=submit].active, input[type=submit]:focus {
  box-shadow: 0 0 3px #d9d9d9;
}
/* line 195, ../sass/pw_theme.scss */
input[type=submit].file-remove-button {
  background: #ffe0e0;
  border-color: #c00;
  box-shadow: 0 0 3px #ffa3a3 inset;
  color: #c00;
  margin-left: 1em !important;
}
/* line 7, ../sass/_mixins.scss */
input[type=submit].file-remove-button:hover, input[type=submit].file-remove-button:active, input[type=submit].file-remove-button.active, input[type=submit].file-remove-button:focus {
  box-shadow: 0 0 3px #ffa3a3;
}
/* line 207, ../sass/pw_theme.scss */
input[type=submit].button-primary, input[type=submit].button-secondary {
  font-weight: bold;
  margin-right: 1em;
  padding: 0.3em 0.6em;
}
/* line 215, ../sass/pw_theme.scss */
.js input.form-autocomplete {
  background-position: right 0.5em center;
  padding-right: 2em;
}

/* line 221, ../sass/pw_theme.scss */
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: url('../images/select-arrow.png?1465621305');
  background-position: right 0.5em center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding-right: 1.625em;
}

/* line 231, ../sass/pw_theme.scss */
.vertical-tabs {
  border: 0.1em solid #949494;
  margin: 1.5em 0;
}
/* line 235, ../sass/pw_theme.scss */
.vertical-tabs .vertical-tabs-list {
  border: none;
  margin: 0 0 -0.1em -15em;
}
/* line 239, ../sass/pw_theme.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-item {
  background: #f0f0f0;
  border: none;
  border-bottom: 0.1em solid #949494;
  border-right: 0.1em solid #949494;
}
/* line 245, ../sass/pw_theme.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-item.vertical-tab-selected {
  background: transparent;
  border-right-color: transparent;
  box-shadow: -1px 5px 5px -5px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
/* line 7, ../sass/_mixins.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-item.vertical-tab-selected a.vertical-tab-link:hover, .vertical-tabs .vertical-tabs-list .vertical-tab-item.vertical-tab-selected a.vertical-tab-link:active, .vertical-tabs .vertical-tabs-list .vertical-tab-item.vertical-tab-selected a.vertical-tab-link.active, .vertical-tabs .vertical-tabs-list .vertical-tab-item.vertical-tab-selected a.vertical-tab-link:focus {
  background: transparent;
}
/* line 259, ../sass/pw_theme.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-item a.vertical-tab-link {
  color: #00f;
}
/* line 7, ../sass/_mixins.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-item a.vertical-tab-link:hover, .vertical-tabs .vertical-tabs-list .vertical-tab-item a.vertical-tab-link:active, .vertical-tabs .vertical-tabs-list .vertical-tab-item a.vertical-tab-link.active, .vertical-tabs .vertical-tabs-list .vertical-tab-item a.vertical-tab-link:focus {
  background: #e0e0e0;
  outline: none;
}
/* line 266, ../sass/pw_theme.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-item a.vertical-tab-link:hover strong, .vertical-tabs .vertical-tabs-list .vertical-tab-item a.vertical-tab-link:active strong, .vertical-tabs .vertical-tabs-list .vertical-tab-item a.vertical-tab-link.active strong, .vertical-tabs .vertical-tabs-list .vertical-tab-item a.vertical-tab-link:focus strong {
  text-decoration: none;
}
/* line 271, ../sass/pw_theme.scss */
.vertical-tabs .vertical-tabs-list .vertical-tab-item a.vertical-tab-link .summary {
  font-size: 0.8em;
  line-height: 1.5em;
  color: #666;
}
/* line 281, ../sass/pw_theme.scss */
.vertical-tabs .vertical-tabs-pane .fieldset-wrapper {
  padding: 1em 1.5em;
}

/*** Lists ***/
/* line 288, ../sass/pw_theme.scss */
ul,
ol,
.item-list ul,
.item-list ol {
  margin: 1.5em 0;
  padding: 0 0 0 2em;
}
/* line 295, ../sass/pw_theme.scss */
ul li,
ol li,
.item-list ul li,
.item-list ol li {
  margin: 0;
}

/* line 301, ../sass/pw_theme.scss */
ul.inline li {
  padding: 0 1em 0 0;
}

/*** Messages ***/
/* line 307, ../sass/pw_theme.scss */
.messages {
  border-radius: 0;
}
/* line 310, ../sass/pw_theme.scss */
.messages ul,
.messages ol {
  margin: 0;
}

/* line 316, ../sass/pw_theme.scss */
div.status {
  background-color: #daffda;
  color: #080;
}
/* line 320, ../sass/pw_theme.scss */
div.status:before {
  background-color: #080;
}

/* line 325, ../sass/pw_theme.scss */
div.warning {
  background-color: #fff0b3;
  color: #666;
}
/* line 329, ../sass/pw_theme.scss */
div.warning:before {
  background-color: #fc0;
}

/* line 334, ../sass/pw_theme.scss */
div.error {
  background-color: #ffe0e0;
  color: #c00;
}
/* line 338, ../sass/pw_theme.scss */
div.error:before {
  background-color: #c00;
}

/*** Pager ***/
/* line 344, ../sass/pw_theme.scss */
.item-list ul.pager {
  padding: 0;
}
/* line 347, ../sass/pw_theme.scss */
.item-list ul.pager li {
  padding: 0;
}
/* line 350, ../sass/pw_theme.scss */
.item-list ul.pager li.pager-ellipsis, .item-list ul.pager li.pager-current {
  padding: 0.2em 0.6em;
}
/* line 355, ../sass/pw_theme.scss */
.item-list ul.pager li a {
  padding: 0.2em 0.6em;
  text-decoration: none;
}
/* line 7, ../sass/_mixins.scss */
.item-list ul.pager li a:hover, .item-list ul.pager li a:active, .item-list ul.pager li a.active, .item-list ul.pager li a:focus {
  text-decoration: underline;
}

/*** Progress Bar ***/
/* line 368, ../sass/pw_theme.scss */
.progress .bar {
  border: 0.1em solid #949494;
}
/* line 371, ../sass/pw_theme.scss */
.progress .bar .filled {
  background: #b3b3b3;
}

/*** Tables ***/
/* line 378, ../sass/pw_theme.scss */
table {
  width: 100%;
}
/* line 381, ../sass/pw_theme.scss */
table th,
table td {
  border: 0.1em solid #949494;
  padding: 0.25em;
  text-align: left;
}
/* line 389, ../sass/pw_theme.scss */
table thead tr {
  background: #e0e0e0;
}
/* line 396, ../sass/pw_theme.scss */
table tbody tr, table tbody tr.odd {
  background-color: #fff;
  border: none;
  padding: 0;
}
/* line 403, ../sass/pw_theme.scss */
table tbody tr.even {
  background: #f7f7f7;
  border: none;
  padding: 0;
}
/* line 409, ../sass/pw_theme.scss */
table tbody tr:hover, table tbody tr.selected, table tbody tr.drag-previous {
  background: #e6f5ff;
}
/* line 415, ../sass/pw_theme.scss */
table tbody tr.drag {
  background: #b6e2ff;
}
/* line 420, ../sass/pw_theme.scss */
table tbody tr td.active {
  background: #f0f0f0;
}
/* line 427, ../sass/pw_theme.scss */
table caption {
  margin-bottom: 0.5em;
}

/*** Tabs ***/
/* line 433, ../sass/pw_theme.scss */
.l-tabs {
  margin-bottom: 1.5em;
}

/* line 437, ../sass/pw_theme.scss */
.tabs {
  font-size: 0.9em;
  line-height: 1.5em;
}
/* line 440, ../sass/pw_theme.scss */
.tabs.primary {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 0.4em solid #f0f0f0;
  line-height: 2.2em;
  margin: 0;
}
/* line 447, ../sass/pw_theme.scss */
.tabs.primary li {
  margin: 0;
}
/* line 450, ../sass/pw_theme.scss */
.tabs.primary li a {
  background: transparent;
  border-top: 0.2em solid #949494;
  color: #666;
  margin: 0 0.3em;
  padding: 0 1.5em;
}
/* line 7, ../sass/_mixins.scss */
.tabs.primary li a:hover, .tabs.primary li a:active, .tabs.primary li a.active, .tabs.primary li a:focus {
  background: transparent;
  border-color: #949494 transparent transparent;
  color: #00f;
}
/* line 463, ../sass/pw_theme.scss */
.tabs.primary li a.active {
  background: #f0f0f0;
  border: none;
  border-top: 0.2em solid #949494;
}
/* line 472, ../sass/pw_theme.scss */
.tabs.secondary {
  background: #f0f0f0;
  line-height: 1.6em;
  margin: 0;
  padding: 0 0 0.4em;
}
/* line 478, ../sass/pw_theme.scss */
.tabs.secondary li {
  border-right: 0.1em solid #949494;
  display: inline-block;
  padding: 0;
}
/* line 484, ../sass/pw_theme.scss */
.tabs.secondary li:first-child a {
  margin-left: 0.3em;
}
/* line 489, ../sass/pw_theme.scss */
.tabs.secondary li:last-child {
  border-right: none;
}
/* line 493, ../sass/pw_theme.scss */
.tabs.secondary li a {
  color: #666;
  display: block;
  margin-right: 0.3em;
  padding: 0 1em;
}
/* line 7, ../sass/_mixins.scss */
.tabs.secondary li a:hover, .tabs.secondary li a:active, .tabs.secondary li a.active, .tabs.secondary li a:focus {
  background: transparent;
  color: #00f;
}
