//
// Setup SASS variables & import partials.
//

// Fonts & sizes.
$font-size: 16px;
$line-height: 1.5em;

$sans-serif: "Open Sans", "DejaVu Sans", sans-serif;
$serif: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$mono: "Courier New", Courier, "DejaVu Sans Mono", monospace, sans-serif;

// Colors.
$text: #222;
$link: #07c;
$link-contrast: #fff; // Text colour when $link used as background colour
$grey: #666;

// Miscellaneous.
$transition: 0.2s;

// Import other partials.
@import "mixins";
