/**
 * Custom Sass mixins.
 */

// Vertically center children of an element.
@mixin vcenter {
  align-items: center;
  display: flex;
  justify-content: center;
}

// Hover, active, focus classes.
@mixin hover {
  &:hover,
  &:active,
  &:focus,
  &.active,
  &.active-trail {
    @content;
  }
}

// Change font size while keeping relative line-height.
@mixin fsize($size, $new-line-height: $line-height) {
  font-size: convert-length($size, 'em', $font-size);
  line-height: $new-line-height;
}

// Make an element visually hidden, but accessible.
@mixin element-invisible {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
}

// Turn off the element-invisible effect.
@mixin element-invisible-off {
  clip: auto;
  height: auto;
  overflow: auto;
  position: static !important;
  width: auto;
}

// Make an element visually hidden by default, but visible when focused.
@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

