//
// Custom SASS mixins & functions.
//

// Change font size while keeping relative line-height.
@mixin fsize($size, $new-line-height: $line-height) {
  @if unit($size) == 'px' {
    font-size: $size / $font-size * 1em;
  }
  @else {
    font-size: $size;
  }

  line-height: $new-line-height;
}

// Hover, active, focus states.
@mixin hover {
  &:hover,
  &:active,
  &:focus,
  &.active,
  &.active-trail {
    @content;
  }
}

// Lighten or darken colours (use negative $amount to darken).
@function lighten($color, $amount) {
  @return scale-color($color, $lightness: $amount);
}

// Max-width media query.
@mixin max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

// Min-width media query.
@mixin min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
