/**
 * Custom styles.
 */

@import "base";

html {
  box-sizing: border-box;
  font-size: $font-size;
  line-height: $line-height;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @include fsize($font-size);

  background: #fff;
  color: $text;
  font-family: $sans-serif;
}

/*** Miscellaneous ***/
a,
.link {
  color: $link;
  transition-duration: $transition;
}

blockquote {
  background-color: lighten($grey, 95%);
  border-left-color: lighten($grey, 50%);
}

.breadcrumb {
  @include fsize(0.85em);

  overflow: hidden;
  padding-bottom: 0;

  li,
  li a,
  li span {
    float: none;
  }
}

code,
pre,
kbd,
samp {
  @include fsize(0.9em);

  background: lighten($grey, 90%);
  border-radius: 2px;
  font-family: $mono;
  padding: 0.2em 0.4em;
}
pre code {
  @include fsize(1em);

  display: block;
}

.comments {
  .indented {
    margin-left: 2em;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}
h1 {
  @include fsize(2em, 1.3em);
}
h2 {
  @include fsize(1.5em, 1.3em);
}
h3 {
  @include fsize(1.3em, 1.4em);
}
h4 {
  @include fsize(1.2em, 1.4em);
}
h5 {
  @include fsize(1.1em, 1.4em);
}
h6 {
  @include fsize(1em, 1.4em);
}

img {
  vertical-align: bottom;

  &.file-icon {
    vertical-align: middle;
  }
}

.layout {
  margin: 0;
}

.logo {
  float: left;
  margin-right: 1.5em;
}

.more-help-link,
.more-link {
  @include fsize(0.9em);
}

p {
  line-height: $line-height;
}

.page-title {
  @include fsize(2em, 1.2em);

  color: $text;
  margin: 0 0 0.5em;
}

.site-name {
  margin: 0 0 0.1em;

  a {
    @include hover {
      color: $text;
      text-decoration: none;
    }
  }
}

.site-slogan {
  color: lighten($text, 25%);
}

tr.drag {
  background: lighten($link, 75%);
}
tr.drag-previous {
  background: lighten($link, 90%);
}
tr:hover,
tr:hover td.active,
tr.odd:hover td.active {
  background: lighten($link, 85%);
}

ul.inline,
ul.links.inline {
  margin-left: 0;
}
ul.primary li:last-of-type {
  border-right: none;
}

/*** Forms ***/
input.form-submit,
button.form-submit,
a.button {
  transition-duration: $transition;

  @include hover {
    background-color: $link;
    color: $link-contrast;
  }
}
input.button-primary,
button.button-primary,
a.button-primary {
  background-color: $link;
  border-color: $link;
  color: $link-contrast;

  @include hover {
    background-color: lighten($link, -25%);
    border-color: lighten($link, -25%);
  }
}
input.button-secondary,
button.button-secondary,
a.button-secondary {
  color: lighten($grey, 25%);

  @include hover {
    background-color: $link;
    color: $link-contrast;
  }
}
input.button-danger,
button.button-danger,
a.button-danger {
  background-color: #fff;
  border-color: #e7251b;
  color: #e7251b;

  @include hover {
    background-color: #e7251b;
    border-color: #e7251b;
  }
}

.vertical-tab-selected .vertical-tab-link {
  border-left-color: $link;
}
.vertical-tab-link strong,
.vertical-tab-link .fieldset-legend {
  color: $link;
}

input.form-text:focus,
input.form-tel:focus,
input.form-email:focus,
input.form-url:focus,
input.form-color:focus,
input.form-number:focus,
input.form-search:focus,
input.form-file:focus,
textarea.form-textarea:focus {
  border-color: $link;
}

/*** Menus ***/
ul.menu-dropdown,
.js ul.menu-dropdown {
  list-style: none;
  margin: 0;

  li {
    display: block;
    list-style: none;
    padding: 0;

    &.expanded {
      list-style: none;
    }

    &.has-children > a {
      padding-right: 1.8em;
    }
  }

  a {
    background: transparent;
    color: $link;
    line-height: $line-height;
    padding: 0.5em 1em;

    span.sub-arrow {
      border-width: 0.25em;
      border-top-color: $link;
      right: 1em;
    }

    @include hover {
      background: $link;
      color: $link-contrast;
      line-height: $line-height;
      padding: 0.5em 1em;

      span.sub-arrow {
        border-top-color: $link-contrast;
      }
    }
  }

  ul {
    background: lighten($grey, 90%);
    border-color: lighten($grey, 75%);

    li {
      &.has-children > a {
        padding-right: 1em;
      }
    }

    a {
      span.sub-arrow {
        border-color: transparent;
        border-left-color: $link;
        right: 0.5em;
      }

      @include hover {
        span.sub-arrow {
          border-color: transparent;
          border-left-color: $link-contrast;
        }
      }
    }
  }
}
@include max(47.99em) {
  ul.menu-dropdown,
  .js ul.menu-dropdown {

    li {
      &.has-children > a {
        padding-right: 0.5em;
      }
    }

    a {
      padding: 0.5em;

      span.sub-arrow {
        right: 3px;
      }

      @include hover {
        padding: 0.5em;
      }
    }

    ul {
      background: transparent;

      a {
        padding-left: 1.5em;

        span.sub-arrow {
          right: 3px;
        }

        @include hover {
          padding-left: 1.5em;
        }
      }

      ul {
        a {
          padding-left: 2.5em;

          @include hover {
            padding-left: 2.5em;
          }
        }

        ul {
          a {
            padding-left: 3.5em;

            @include hover {
              padding-left: 3.5em;
            }
          }
        }
      }
    }
  }
}
.menu-toggle-button {
  padding: 0.5em 0;
}

.header-menu {
  ul.links {
    list-style: none;

    li {
      padding: 0 0 0.5em 0.5em;

      a {
        @include fsize(0.85em);

        background: lighten($grey, 25%);
        height: auto;
        overflow: visible;
        padding: 0.3em 0.5em;
        width: auto;

        @include hover {
          background: lighten($grey, 40%);
          text-decoration: none;
        }
      }
    }
  }
}

/*** Pager ***/
.item-list .pager {
  li.pager-current {
    min-width: 30px;
  }

  a {
    min-width: 30px;
  }
}

/*** Regions ***/
.l-inner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;

  .l-inner {
    margin: 0;
    max-width: none;
    padding: 0;
  }
}

.l-header {
  background: lighten($grey, 90%);
  margin: 0;
  padding: 0;

  &:before {
    content: none;
  }
}

.l-header-top {
  margin-bottom: 1.5em;
  padding-top: 1em;
}

.l-above {
  margin-top: 30px;
}

.l-wrapper {
  margin: 50px 0;

  & > .l-inner {
    padding: 0;
  }
}

.l-sidebar-left {
  margin-right: 20px;
}

.l-sidebar-right {
  margin-left: 20px;
}

.l-footer {
  @include fsize(0.9em);

  background: lighten($grey, 50%);
  margin: 20px 0 0;
  padding: 20px 0;
}
