/**
 * Custom styles.
 */

@import "base";
@import "mixins";

html {
  font-size: $font-size;
}

body {
  @include fsize($font-size);

  background: #fff;
  color: $text;
  font-family: $sans-serif;
}

/*** Miscellaneous ***/
a {
  color: $link;
  text-decoration: underline;

  @include hover {
    text-decoration: none;
  }
}

blockquote {
  background-color: transparent;
  border-left: none;
  display: flex;
  margin: 1.5em 2em;
  padding: 0;
  width: auto;

  &:before,
  &:after {
    @include fsize(5em, 1em);

    color: scale-lightness($text, 80%);
    cursor: default;
    font-family: $serif;
  }

  &:before {
    content: open-quote;
    margin: -0.1em 0.1em 0 0;
  }

  &:after {
    align-self: flex-end;
    content: close-quote;
    margin: 0 0 -0.3em 0.1em;
  }
}

.breadcrumb {
  @include fsize(0.95em);

  padding-bottom: 0;

  li {
    &:after {
      background: none;
      content: normal;
      display: inline;
      height: auto;
      padding: 0;
      vertical-align: baseline;
      width: auto;
    }
  }
}

code,
kbd,
pre,
samp {
  font-family: $mono;
}

.element-focusable {
  @include element-focusable;
}

.element-invisible {
  @include element-invisible;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
}

h1 {
  @include fsize($h1-font-size, 1.2em);
}

h2 {
  @include fsize($h2-font-size, 1.3em);
}

h3 {
  @include fsize($h3-font-size, 1.3em);
}

h4 {
  @include fsize($h4-font-size, 1.3em);
}

h5 {
  @include fsize($h5-font-size, 1.3em);
}

h6 {
  @include fsize($h6-font-size, 1.4em);
}

img {
  vertical-align: bottom;

  &.file-icon {
    vertical-align: middle;
  }
}

.layout {
  margin: 0;
}

.more-help-link,
.more-link {
  @include fsize(0.9em);
}

p {
  line-height: $line-height;
  margin: 0 0 1em;
}

/*** Blocks ***/
.block {
  clear: none;
  content: normal;
  display: block;
  width: auto;

  &.block-system-header {
    .block-content {
      display: flex;

      .logo {
        margin-right: 1em;
      }

      .name-and-slogan {
        float: none;

        .site-name {
          @include fsize($h1-font-size);

          font-weight: bold;

          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}

/*** Comments ***/
#comments {
  .indented {
    margin-left: 2em;
  }
}

/*** Forms ***/
.dropbutton {
  a {
    text-decoration: none;
  }
}

fieldset {
  .js &.collapsed {
    padding: 1.4em 0;

    .fieldset-legend {
      a:before {
        top: 0.65em;
      }
    }
  }
}

.filter-wrapper {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin: -1em 0 1em;

  .fieldset-legend {
    margin-top: 0.5em;
  }
}

.form-type-radio,
.form-type-checkbox {
  .description {
    margin-left: 1.7em !important;
  }
}

.resizable-textarea {
  .grippie {
    display: none;
  }
}

/*** Menus ***/
.block-system-main-menu {
  ul.menu-dropdown {
    list-style-type: none;
    margin: 0;

    li {
      float: none;
      list-style-type: none;

      a {
        color: $link;
        margin-right: 1em;
        line-height: $line-height;
        padding: 0.2em 0.5em;

        @include hover {
          line-height: $line-height;
          padding-right: 0.5em;
        }

        &.highlighted {
          background: transparent;
        }

        &.has-submenu {
          padding-right: 1.5em;

          .sub-arrow {
            border-top-color: $link;
            border-width: 5px;
            right: 0.5em;
          }

          @include hover {
            .sub-arrow {
              border-top-color: $link;
            }
          }
        }
      }

      &.last {
        a {
          margin-right: 0;
        }
      }

      ul {
        background: transparent;
        border: none;

        a {
          margin-right: 0;

          @include hover {
            background: transparent;
          }

          &.has-submenu {
            .sub-arrow {
              border-left-color: $link;
              border-top-color: transparent;
              right: 0.25em;
            }

            @include hover {
              .sub-arrow {
                border-left-color: $link;
                border-top-color: transparent;
              }
            }
          }
        }
      }
    }

    @include breakpoint(700px) {
      flex-direction: column;

      li {
        a {
          margin-right: 0;
          padding: 0.5em;

          &.has-submenu {
            padding-right: 3em;

            .sub-arrow {
              height: 2.5em;
              line-height: 2.5em !important;
              margin-top: -1.25em;
              right: 0;
              width: 2.5em;
            }
          }
        }

        ul {
          a {
            padding-left: 1em;
          }
        }
      }
    }
  }

  .menu-toggle-button {
    display: block;
    padding: 0.2em 0;
  }
}

/*** Messages ***/
div.error {
  background-color: scale-lightness($red, 90%);
  color: $red;

  &:before {
    background-color: $red;
  }
}

div.status {
  background-color: scale-lightness($green, 90%);
  color: $green;

  &:before {
    background-color: $green;
  }
}

div.warning {
  background-color: scale-lightness($yellow, 70%);
  color: $grey;

  &:before {
    background-color: $yellow;
  }
}

/*** Pager ***/
.item-list .pager {
  li.pager-current {
    min-width: 40px;
  }

  a {
    min-width: 40px;
    text-decoration: none;
  }
}

/*** Tabs ***/
ul.primary li {
  border-color: #fff;
}

ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited,
.responsive-tabs-mobile .expand-dropdown-tabs-label {
  background-color: $grey-background;
}

ul.secondary {
  background-color: $grey-background;
}

