/**
 * Setup SASS variables & import partials.
 */

// Fonts & sizes.
$font-size: 16px;
$line-height: 1.5em;

$serif: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$sans-serif: "Open Sans", "DejaVu Sans", sans-serif;
$mono: "Courier New", Courier, "DejaVu Sans Mono", monospace, sans-serif;

// Colors.
$text: #222;
$link: #07c;
$grey: #666;

$green: #090;
$yellow: #fc0;
$red: #c00;

// Import other partials.
@import "mixins";
