/**
 * Setup variables, etc.
 */

@import "compass";
@import "susy";
@import "breakpoint";

// Fonts & sizes.
$font-size: 16px;
$line-height: 1.5em;

$h1-font-size: 2 * $font-size;
$h2-font-size: 1.5 * $font-size;
$h3-font-size: 1.125 * $font-size;
$h4-font-size: 1 * $font-size;
$h5-font-size: 0.875 * $font-size;
$h6-font-size: 0.75 * $font-size;

$serif: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$sans-serif: Verdana, Tahoma, Geneva, "DejaVu Sans", sans-serif;
$mono: "Courier New", Courier, "DejaVu Sans Mono", monospace, sans-serif;

// Colors.
$text: #000;
$link: #00f;
$highlight: #e6f5ff;

$green: #080;
$yellow: #fc0;
$red: #c00;
$grey: #666;

$grey-background: scale-lightness($grey, 90%);
$grey-border: scale-lightness($grey, 30%);

// Other variables.
$gap-small: 0.5em;
$gap: 1em;
$gap-large: 1.5em;
$indent: 2em;

// Set global box-sizing to border-box.
// Uncomment if not using pw_layout layout (which includes it already).
//@include border-box-sizing(true);

