/**
 * Custom styles.
 */

@import "base";
@import "mixins";

html {
  font-size: $font-size;
}

body {
  @include adjust-font-size($font-size);

  color: $text;
  font-family: $sans-serif;
}

// -------------------------------------------------------------------------- //

a {
  color: $link;
}

blockquote {
  margin: $gap-large 3em;

  &:before {
    color: scale-lightness($text, 80%);
  }

  &:after {
    color: scale-lightness($text, 80%);
  }
}

code,
kbd,
pre,
samp {
  font-family: $mono;
}

figure {
  margin: $gap-large $indent;
}

h1, h2, h3, h4, h5, h6 {
  margin: $gap-small 0 $gap;
}

h1 {
  @include adjust-font-size($h1-font-size, 1.2em);
}

h2 {
  @include adjust-font-size($h2-font-size, 1.3em);
}

h3 {
  @include adjust-font-size($h3-font-size, 1.3em);
}

h4 {
  @include adjust-font-size($h4-font-size, 1.3em);
}

h5 {
  @include adjust-font-size($h5-font-size, 1.3em);
}

h6 {
  @include adjust-font-size($h6-font-size, 1.4em);
}

hr {
  background: $grey;
}

.marker {
  background: scale-lightness($green, 90%);
  color: $green;
}

p {
  margin: 0 0 $gap;
}

/*** Comments ***/
#comments {
  .indented {
    margin-left: $indent;
  }
}

/*** Forms ***/
.filter-wrapper {
  margin: (-$gap-large - $line-height) 0 $gap-large;

  legend {
    margin-top: $line-height;
  }
}

.form-item,
.form-actions {
  margin: $gap-large 0;
}

input,
textarea,
select {
  background: scale-lightness($grey, 95%);
  border: 0.1em solid $grey-border;
  box-shadow: 0 0 3px scale-lightness($grey, 75%) inset;
  color: scale-lightness($grey, -50%);
  line-height: $line-height;

  &:focus {
    border-color: scale-lightness($highlight, -50%);
  }

  &[disabled] {
    background: $grey-background;
    color: $grey;
  }
}

input {
  &[type=submit] {
    @include link-hover {
      box-shadow: 0 0 3px scale-lightness($grey, 75%);
    }

    &.file-remove-button {
      background: scale-lightness($red, 90%);
      border-color: $red;
      box-shadow: 0 0 3px scale-lightness($red, 70%) inset;
      color: $red;

      @include link-hover {
        box-shadow: 0 0 3px scale-lightness($red, 70%);
      }
    }
  }
}

.vertical-tabs {
  border: 0.1em solid $grey-border;
  margin: $gap-large 0;

  .vertical-tabs-list {
    .vertical-tab-item {
      background: $grey-background;
      border-bottom: 0.1em solid $grey-border;
      border-right: 0.1em solid $grey-border;

      a.vertical-tab-link {
        color: $link;

        @include link-hover {
          background: scale-lightness($grey, 80%);
        }

        .summary {
          color: $grey;
        }
      }
    }
  }

  .vertical-tabs-pane {
    .fieldset-wrapper {
      padding: $gap $gap-large;
    }
  }
}

/*** Lists ***/
ul,
ol,
.item-list ul,
.item-list ol {
  margin: $gap-large 0;
  padding: 0 0 0 $indent;
}

/*** Messages ***/
div.status {
  background-color: scale-lightness($green, 90%);
  color: $green;

  &:before {
    background-color: $green;
  }
}

div.warning {
  background-color: scale-lightness($yellow, 70%);
  color: $grey;

  &:before {
    background-color: $yellow;
  }
}

div.error {
  background-color: scale-lightness($red, 90%);
  color: $red;

  &:before {
    background-color: $red;
  }
}

/*** Progress Bar ***/
.progress {
  .bar {
    border: 0.1em solid $grey-border;

    .filled {
      background: scale-lightness($grey, 50%);
    }
  }
}

/*** Tables ***/
table {
  th,
  td {
    border: 0.1em solid $grey-border;
  }

  thead {
    tr {
      background: scale-lightness($grey, 80%);
    }
  }

  tbody {
    tr {
      &.even {
        background: scale-lightness($grey, 95%);
      }

      &:hover,
      &.selected,
      &.drag-previous {
        background: $highlight;
      }

      &.drag {
        background: scale-lightness($highlight, -10%);
      }

      td {
        &.active {
          background: $grey-background;
        }
      }
    }
  }

  caption {
    margin-bottom: $gap-small;
  }
}

/*** Tabs ***/
.l-tabs {
  margin-bottom: $gap-large;
}

.tabs {
  &.primary {
    border-bottom: 0.4em solid $grey-background;

    li {
      a {
        border-top: 0.2em solid $grey-border;
        color: $grey;

        @include link-hover {
          border-color: $grey-border transparent transparent;
          color: $link;
        }

        &.active {
          background: $grey-background;
          border-top: 0.2em solid $grey-border;
        }
      }
    }
  }

  &.secondary {
    background: $grey-background;

    li {
      border-right: 0.1em solid $grey-border;

      a {
        color: $grey;

        @include link-hover {
          color: $link;
        }
      }
    }
  }
}

